{% extends "base.html" %}

{% block main %}
<form action="{% url 'bank:make_transfer' %}" method="post">
    {% csrf_token %}
    <fieldset>
        {{ form }}
    <button>Log In</button>
    </fieldset>
</form>
{% endblock main %}
