{% for customer in customers %}
<tr>
    <td><a href="{% url 'bank:staff_customer_details' bankcustomer.pk %}">{{ bankcustomer.pk }}</a></td>
    <td>{{ bankcustomer.personal_id }}</td>
    <td>{{ bankcustomer.full_name }}</td>
    <td>{{ bankcustomer.phone }}</td>
    <td>{{ bankcustomer.user.email }}</td>
</tr>
{% endfor %}
